<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


	<div class="container">
		<center>
			<h1>Rjit Admission Form</h1>
		</center>
		<br>
		<table class="preview_table table-striped">

			<div class="row">
				<div class="col-md-6">
					<center>
						<label>First Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<input type="text" name="" value="">
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Last Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Email</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Mobile No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Gender</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Date Of Birth</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Image</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Father's Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Mother's Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Father's Email</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Father's Contact No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Aadhaar No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Identification Mark</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>12th Exam Roll No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>JEE main Exam Roll No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Nationality</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Category</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>If Physically handicapped?</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Are You A Resident Of J&K?</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label></label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>First Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Last Name</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Email</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Mobile No.</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<center>
						<label>Gender</label>
					</center>	
				</div>
				<div class="col-md-6">
					<center>
						<p>hfddfhhdjk</p>	
					</center>	
				</div>
			</div>

		</table>
	</div>


</body>
</html>